button.logout{
    display: inline;
    list-style-type: none;
    margin-left: 1170px;
    margin-top: 0px;
    margin-bottom: 3px;
    padding: 5px;
    float: right;
    background-color: #111;
    padding: 10px;
    align-items: right;
}

Nav{
    background-color: beige;
}